
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>CertBlocks</title>
</head>

<body>
    <div class="container">
        <!-- Status Component -->
        <div class="status">
            <h3><b>Cert</b></h3>
            <h4><b style="color: #007bff;">CertBlocks</b></h4>

            <form class="form" action="/add_transaction/" method="post">
                <input class="form-group" type="text" name="sender" placeholder="Enter sender address">
                <input class="form-group" type="text" name="receiver" placeholder="Enter receiver address">
                <input class="form-group" type="number" name="amount" placeholder="Enter amount">
                <input class="form-group" type="number" name="time" placeholder="Enter time">
                <button type="submit">Send</button>
            </form>

        </div>

        <!-- Transactions Component -->
        <div class="transactions">
            <h3><b>Transactions</b></h3>
            <p>(Sync to get the latest transactions in the blockchain)</p>
            <table>
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount (Cert)</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.from }}</td>
                        <td>{{ transaction.to }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 
    <script src="script.js"></script> -->
</body>

</html>